	*{
		margin:0;
		padding: 0;
	}
	html { 
		background: url("img/background.jpg");
		
	}
	#logo{
		width: 230px;
		height: 200px;
		background: url("img/comunnytec_logo.png") no-repeat;
		background-size: 100%;
		margin: 1em;
	}
	header{
		margin-top: 0px;
		display: flex;
		background:  url("img/header.jpg");
	}
	#menu{
		background:rgba(16,10,106,0.7);
	}
	#menu ul{
		list-style: none;
		overflow: hidden;
	}
	#menu ul li{
		float: left;
	}
	#menu ul li a{
		display: block;
		padding: 20px;
		color: #fff;
		text-decoration: none;
		font-family: verdana;
	}
	#menu ul li a:hover{
		background: #0c0846;
	}
	form {
		width: 40%;
		padding: 20px;
		background:rgba(16,10,106,0.7);
		color:white;
		font-family: verdana;
		margin: 6px auto;
	  }
	  input[type=text], textarea, input[type=email]{
		width: 70%;
		padding: 10px;
		border: 1px solid #ccc;
		margin-top: 6px;
		margin-bottom: 16px;
		background-color: white;
	  }
	  input[type=checkbox]{
		  margin: 10px;
	  }
	  textarea{
		  height: 100px;
		  width: 500px;
	  }
	  input[type=submit]{
		color: black;
		padding: 12px 20px;
		border: none;
		cursor: pointer;
		margin: 0 auto;
	  }
	  #formulario input, #formulario select{
		margin: .5em;
	  }
	  select{
		  padding: 10px;
	  }
	  #recibido{
		width: 60%;
		padding: 20px;
		background:rgba(16,10,106,0.7);
		color:white;
		font-family: verdana;
		margin: 6px auto;
		text-align:center;
	  }
	  #recibido p{
		  margin: 1em;
	  }
	  #recibido p a{
		  color:white;
	  }