	*{
		margin:0;
		padding: 0;
	}
	html { 
		background: url("img/background.jpg");
		
	}
	#logo{
		width: 230px;
		height: 200px;
		background: url("img/comunnytec_logo.png") no-repeat;
		background-size: 100%;
		margin: 1em;
	}
	header{
		margin-top: 0px;
		display: flex;
		background:  url("img/header.jpg");
	}
	#menu{
		background:rgba(16,10,106,0.7);
	}
	#menu ul{
		list-style: none;
		overflow: hidden;
	}
	#menu ul li{
		float: left;
	}
	#menu ul li a{
		display: block;
		padding: 20px;
		color: #fff;
		text-decoration: none;
		font-family: verdana;
	}
	#menu ul li a:hover{
		background: #0c0846;
	}
	#cuerpo_pagina{
		display: flex;
	}
	#texto{
		background:rgba(16,10,106,0.7);
		color:white;
		font-family: Candara;
		padding: .3em;
		margin-top:2em;
		height: 500px;
		text-align: left;
		width:900px;
	}
	#texto h2{
		font-size: 30px;
		font-family: Courier;
		color: rgb(248, 211, 26);
		text-align: center;
	}
	#texto p,#texto ul li{
		padding: 2px;
	}
	#texto ul{
		list-style:none;
		overflow: hidden;
	}
	#texto ul li strong{
		font-size: 20px;
		color:rgb(26, 235, 248)
	}
	#texto ul li span{
		font-size: 17px;
		color: rgb(26, 248, 107);
		font-weight: bold;
	}
	#sliderFrame #slider img{
		width: 360px;
		height: 360px;
	}
	#sliderFrame, #sliderFrame div {
    	 box-sizing: content-box;
	}
	#sliderFrame {
		border: 10px solid #BDBFC1;
	    width:360px;
	}

	#slider, #slider .sliderInner {
	    width:360px;
	    height:360px;
	    border-radius:3px;
	}
	#slider {
	    background-color:white;
	    position:relative;
	    margin:0 auto;
	    transform: translate3d(0,0,0);
	    box-shadow: 0px 1px 5px #999999;
	}
	.navBulletsWrapper { 
		display: none;
	}
	#anuncios{
		display: flex;
		justify-content: space-around;
		margin-bottom: 1em;
		background:rgba(16,10,106,0.7);
		padding: 15px;
		margin-top:1em;
	}
	#anuncios img{
		width:400px;
		height:220px;
	}
	#fondoslider{
		padding: 0.7em;
		height: 500px;
		margin-top: 1em;
	}
	#informacion{
		background: white;
		width: 360px;
		font-family: verdana;
		font-size: 14px;
		text-decoration: none;
		margin-top:15px;
		padding: 5px;
		font-weight: bold;

	}
	#informacion{
		border: 3px solid #BDBFC1;
		background: rgba(255,255,255,0.8);
	}
	#informacion img{
		width: 25px;
		height: 25px;
		padding: 5px;
	}
	#informacion a{
		text-decoration: none;
	}
	.facebook{
		color:rgb(55,101,162);
	}
	.telefono{
		color:rgb(254,0,0);
	}	
	#face, #tel{
		display: flex;
		align-items: center;
	}
	#informacion #horarios{
		color:grey;
		font-size: 13px;
	}
	#horarios{
		margin-top: .5em;
		background: #D8D8D8;
		padding: .2em;
	}
	footer{
	text-align: left;
	padding: 20px;
	margin-top: 20px;
	color: #FFFFFF;
	background:rgba(16,10,106,0.8);
	padding:45px 0 20px;
  	font-size:15px;
  	line-height:24px;
	}

	footer p{
	font-size: 12px
	}
	footer h6{
		color:#FFFFFF;
		font-size:16px;
		text-transform:uppercase;
		margin-top:5px;
		letter-spacing:2px
	}
	footer a{
	color: #FFFFFF
	}
	footer a:hover{
		color:#3366cc;
		text-decoration:none;
	}
	footer .containter{
		float: left;
	}
	.container{
		width: 80%;
		margin: auto;
		overflow: hidden;
	}
	.col{
		align-content: "justify";
	}
	#comunnytec{
		font-size:20px;
		font-weight: bold;
		color: #ff8300;
	}
	#comunnytec2{
		color:#ffdc2d;
		font-weight: bold;
	}