*{
		margin:0;
		padding: 0;
	}
	html { 
		background: url("img/background.jpg");
		
	}
	#logo{
		width: 230px;
		height: 200px;
		background: url("img/comunnytec_logo.png") no-repeat;
		background-size: 100%;
		margin: 1em;
	}
	header{
		margin-top: 0px;
		display: flex;
		background:  url("img/header.jpg");
	}
	#menu{
		background:rgba(16,10,106,0.7);
	}
	#menu ul{
		list-style: none;
		overflow: hidden;
	}
	#menu ul li{
		float: left;
	}
	#menu ul li a{
		display: block;
		padding: 20px;
		color: #fff;
		text-decoration: none;
		font-family: verdana;
	}
	#menu ul li a:hover{
		background: #0c0846;
	}
	#cuerpo_pagina{
		display: flex;
	}
	iframe{
		margin:2em auto;
	}