*{
    margin:0;
    padding: 0;
}
html { 
    background: url("img/background.jpg");
}
#logo{
    width: 230px;
    height: 200px;
    background: url("img/comunnytec_logo.png") no-repeat;
    background-size: 100%;
    margin: 1em;
}
header{
    margin-top: 0px;
    display: flex;
    background:  url("img/header.jpg");
}
#menu{
    background:rgba(16,10,106,0.7);
}
#menu ul{
    list-style: none;
    overflow: hidden;
}
#menu ul li{
    float: left;
}
#menu ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-family: verdana;
}
#menu ul li a:hover{
    background: #0c0846;
}
#cuerpo_pagina{
    display: flex;
}
.servicios { 
    font-family: verdana;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;

}
.servicios div{
    list-style:none;
    padding: .2em;
    background: white;
    width: 200px;
    height: 330px;
    text-align: center;

}
.servicios div div{
    width: 185px;
    height: 45px;
    background:rgba(16,10,106,0.0);
    font-weight: bold;
    align-content: center;
    padding-top: 1em;
    text-decoration: none;
    color:white;
}
.servicios .caja a{
    text-decoration: none;
}
#img1_serv{	
    height: 230px;
    width: 185px;
    background: url("img/telefonia.jpeg")no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}
#img2_serv{
    height: 230px;
    width: 185px;
    background: url("img/servicio_red.jpg")no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}
#img3_serv{
    height: 230px;
    width: 185px;
    background: url("img/video.png")no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}
#img4_serv{
    height: 230px;
    width: 185px;
    background: url("img/cable.png")no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}
#img5_serv{
    height: 230px;
    width: 185px;
    background: url("img/electrica.jpg") no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}
.servicios .caja{
    margin: 20px;
    background:rgba(16,10,106,0.7);
    border-radius: 1em 1em 1em 1em;
}
.servicios a{
    text-decoration: none;
}
#descripciones{
    width: 70%;
    background:rgba(16,10,106,0.7);
    padding: 1em;
    margin:2em auto;
}
.encabezadosprimernivel{
    margin:.5em;
    font-family:Verdana;
    color:#ff8300;
    font-size: 30px;
    margin-bottom: .2em;
    text-align: center;
}
#descripciones div h2{
    margin:.2em;
    font-family: verdana;
    color:#fff33f;
    font-size:21px;
    text-align: center;
}
#descripciones div p,.servenergia{
    color:white;
    font-family:Tw Cen MT;
    margin: .5em auto;
    font-size: 18px;
    text-align:justify;
    width:80%;
}
#descripciones div hr{
    color: white;
    margin: .5em auto;
    width: 50%;
    height: .5px;
    background-color:white;
}
